@font-face {
    font-family: Abel;
    src: url('../static/Abel/Abel-Regular.ttf');
}

html, body{
    background-color: #fafcfd;
}

#app{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: auto;
    height: 100vh;
    width: 100vw;
}

#app-header{
    width: 100%;
    padding: 24px;
    background-color: #3A5169;
    display: flex;
}

#app-footer{
    width: 100%;
    padding: 16px;
    font-size: small;
    font-family: Abel;
    display: flex;
    justify-content: center;
    color: #B0B5BB
}

a {
    color: inherit;
}

#app-title{
    color: #f2f5f8;
    font-size: x-large;
    margin-left: 8px;
    font-family: Abel;
}

#app-body{
    font-family: Abel;
    color: #1E2023;
    display: flex;
    flex: 1;
    overflow: auto;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.container-box{
    overflow: auto;
    height: 225px;
    width: 97%;
    box-shadow: 2px 2px 6px #717171;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 16px 16px;
}

.container-box-title{
    font-size: x-large;
    border-bottom: 1px #717171 solid;
    padding-bottom: 16px;
}

#new-task-form{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#task-input-box{
    border: none;
    outline: none;
    border-bottom: 2px solid #717171;
    margin-left: 16px;
    margin-right: 16px;
    background: none;
    font-size: large;
    font-family: Abel;
}

#task-submit-btn{
    width: 80px;
    height: 40px;
    margin-left: auto;
    font-family: Abel;
    padding: 0px;
    border: none;
    background: none;
    font-size: x-large;
    font-weight: bold;
    margin-right: 8px;
    color: #3A5169;
}

#task-list-body{
    margin-top: 16px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}